@import 'normalize';

@font-face {
  font-family: "GilroyRegular";
  src: url('../fonts/Gilroy-Regular.woff') format('woff');
}

html {
  max-width: 100vw;
}

body  {
  font-family: GilroyRegular;
  margin: 0 auto;
  padding: 0 135px;

  a {
    color: inherit;
    text-decoration: none;
    transition: text-decoration 0.2s ease-in;
  }

  a:hover{
    text-decoration: underline;
  }

  .header {
    height: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 88px 0 71px 0;

    h2 {
      font-size: 32px;
    }

    h4{
      font-size: 18px;
    }
  }

  .info_wrapper{
    height: 370px;
    background-color: #231F20;
    display: flex;
    flex-direction: row;

    .info_image{
      width: 400px;
      height: 370px;
      background-image: url("../img/image-pair.png");
    }
    .info_text{
      color: #fff;
      padding: 63px 0 49px 78px;
      .text_author {
        font-size: 14px;
      }
      .text_title {
        margin: 27px 0 60px 0;
        font-size: 48px;
        line-height: 55px;
      }
      .text_read_more {
        font-size: 18px;
      }
    }
  }

  .posts_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    .posts{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 40px;

      .post{
        width: 570px;
        height: 290px;
        padding: 48px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .post_title{
          font-size: 24px;
        }

        .post_text{
          font-size: 18px;
          margin: 16px 0;
        }

        .post_read_more{
          font-size: 14px;
        }
      }
      .post:hover{
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
      }
    }

    .show_more_button{
      width: 200px;
      height: 55px;
      background-color: #fff;
      border: 1px solid #F7941E;
      color: #F7941E;
      font-size: 18px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease-in,
                  color 0.2s ease-in;
    }

    .show_more_button:hover{
      background-color: #F7941E;
      color: #fff;
    }
  }
}